@charset "UTF-8";

body {
    font-family: "Nanum Gothic", sans-serif;
    background-color: #1E1E1E;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* settings */
.settings-html,
.settings-body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-main {
    position: relative;
    width: 610px;
    height: 630px;
    background-color: #666666;
    display: flex;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.settings-main header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #45464A;
    border-bottom: 1px solid #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.settings-main header div {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.settings-close-icon {
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}

.settings-main footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #FFFFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 63px;
    width: 100%;
}

.settings-main footer img {
    position: absolute;
    right: 20px;
    top: 13px;
}

.settings-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 170px;
    height: 100%;
    background-color: #1E1E1E;
    color: white;
}

.settings-container {
    display: flex;
    height: calc(100% - 113px); /* header와 footer를 제외한 높이 */
    width: 100%;
    margin-top: 50px;
    margin-bottom: 63px;
    margin-left: 40px;
    
}

.settings-main-item {
    margin: 10px 0;
}

#theme-button,
#template-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: left;
    padding: 0px 20px;
    font-size: 16px;
}

#theme-button {
	margin-top: 20px;
}

#template-button {
	margin-left: 19px;
}

.settings-sub-menu {
    list-style-type: none;
    padding-left: 20px;
    display: none; /* 기본적으로 숨김 */
    margin-left: 30px; 
}

.settings-sub-menu li {
	margin-top: 10px;
}

.settings-container img {
	width: 14px;
	height: 14px;
}
