@charset "UTF-8";

:root {
    --black: #000000;
    --black2: #1E1E1E;
    --white: #ffffff;

    --gray1: #26292f;
    --gray2: #bbbbbb;
    --gray3: #454649;
    --gray4: #4b5056;
    --gray5: #666666;
    --gray6: #6b6a6a;
    --gray7: #dedede;
    --gray8: #ededed;
    --gray9: #f1f1f1;
    --gray10: #f9f9f9;
    --gray11: #0c0d11;

    --red1: #ee0a0a;
    --red2: #d92b2b;
    --red3: #d92b2b;
    --red4: #d92b2b;

    --orange: #ff8a1f;

    --yellow: #ffcd35;

    --blue1: #586dc5;
    --blue2: #1e88e5;
    --blue3: #6898df;

    --green1: #13b927;
    --green2: #7cbe9f;
    --green3: #8fb7b2;

    --profile-red: #fa6931;
    --profile-amber: #f9843b;
    --profile-orange: #f6ba4c;
    --profile-yellow: #f7f04b;
    --profile-green: #7edd9a;
    --profile-blue: #7dafe2;
    --profile-purple: #9a82c1;
}
html{
	margin : 0;
	width : 100%;
	height : 100%;
}
body{
	background-color: var(--gray11);
	margin : 0;
	width : 100%;
	height : 100%;
	display : flex;
	justify-content: center;
    align-content: center;
    flex-direction : column; 
   	position: relative;
}

/* main_header */
.login_header{
	width: 100%;
	height : 30px;
	display: flex;
	justify-content : center; 
	align-self: center;
}

.logo{
	color : var(--white);
	text-align: center;
	margin-left : 8px;
	margin-top : 8px;
	font-size : 1.2rem;	
}
.logo:hover{
	cursor : pointer;
}


.login_header .login_header_box{
	outline : 1px solid var(--white);
	width : 70px;
	height : 20px;
	border-radius: 3px;
	font-size : 0.7rem;
	color : var(--white);
	display: flex;
	justify-content : center; 
	align-items: center;
	line-height: 1;
	margin-top : 8px;
	margin-right : 20px;
	text-align: center;
	margin-left : auto;
}
.login_header .login_header_box:nth-child(3){
	margin-left : 0;
}

.login_header .login_header_box:hover{
	cursor : pointer;
	background-color: var(--black);
	outline : 3px solid var(--white);
}

.login_header_box img{
	width : 13px;
	height : 13px;
	margin-right : 10px;
}
/* main */

.main_content{
	width : 80%;
	height: 100%;
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-self: center;
	margin-bottom : 80px;
}

.main_text{
	color : var(--white);
	display : flex;
	flex-direction : column;
	justify-content: center;
	text-align: center;
}

.main_text div{
	font-size: 5.5rem;
	margin-bottom : 40px;
	margin-top : 0;
}

.main_text small{
	font-size: 1.5rem;
}

.main_menu{
	width : 30%;
	margin-top : 50px;
	display : flex;
	justify-content: space-around;
	align-self : center;
}
.main_menu_box{
	outline : 2.5px solid var(--orange);
	border-radius: 50%;
	width : 130px;
	height : 130px;
	color : var(--orange);
	font-size : 1rem;
	text-align: center;
	justify-items: center;
	display : flex;
	flex-direction : column;
	align-items: center;
	justify-content: center;
}

.main_menu_box:hover{
	cursor:pointer;
	background-color: var(--black);
	outline : 4px solid var(--orange);
}

.main_menu_box .document{
	width : 35px;
	height : 35px;
	margin-bottom : 8px;
}

.main_menu_box .code{
	width : 45px;
	height : 45px;
}

.main_menu_box:hover .document{
	width : 38px;
	height : 38px;
	margin-bottom : 8px;
}

.main_menu_box:hover .code{
	width : 48px;
	height : 48px;
}



.main_menu{
	display : flex;
}

/* header_main */
.header {
    width: 100%;
    height: 30px;
    background-color: var(--gray1);
    display: flex;
    align-items: center;
}

.headerImg {
    margin: auto 0;
    margin-left: 20px;
    box-sizing: 20px;
}

.headerImg img {
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

.header img:hover {
    cursor: pointer;
}

#nick {
	color : var(--white);
	font-size : 1rem;
	margin-left : 10px;
	margin-bottom : 2px;
	line-height: 1;
}

/* content_mypage */
#content_mypage {
    width: 100%;
    height: calc(100vh - 30px);
    display: grid;
    place-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.calendar{
	grid-row: 1 / 3;
	grid-column: 1 / 4;
	box-sizing: border-box;
	width : 100%;
	height : 100%;
	display:flex;
	flex-direction : column;
	align-items: center;
	justify-content: center;
}

.calendar .contact{
	margin-top : 10px;
    align-self: flex-start; 
    border-bottom : 1px solid gold;
}

.calendar .contact:hover{
    cursor : pointer;
}

.calendar_box{
	box-sizing: border-box;
	width : 90%;
	height : 80%;
	display : flex;
	flex-direction : column;
}


.calendar_month{
	border : 1px solid var(--white);
	width : 100%;
	height : 80%;
	align-self: center; 
	margin-top : 0;
}

.calendar_name{
	color : var(--white);
	font-size:2rem;
}



.calendar_item:hover{
	cursor : pointer;
}

.plus {
    width: 10px;
    height: 10px;
}

.calendar_item div:nth-child(1){
	display: inline-flex;
    align-items: center; 
    justify-content: center;
}

.calendar .contact {
    align-self: flex-start;
    border-bottom: 1px solid gold;
}

.calendar .contact:hover {
    cursor: pointer;
}

.calendar_box {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.calendar_box .calendar_name, 
.calendar_box .calendar_item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.calendar_month {
    border: 1px solid var(--white);
    width: 100%;
    height: 80%;
    align-self: center;
    margin-top: 10px;
}

.calendar_name {
    color: var(--white);
}

.calendar_item {
    color: var(--white);
    display: flex;
    margin-bottom: 0;
}

.calendar_item:hover {
    cursor: pointer;
}

.plus {
    width: 25px;
    height: 25px;
    margin-right : 10px;
    margin-right : 10px;
}
.calendar_item div:nth-child(1) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 10px;
    height: 10px;
}

.calendar_item .calendar_item {
    border: 1px solid var(--white);
    border-radius: 3px;
    height: 18px;
    color: var(--white);
    font-size: 1rem;
    margin-left: 5px;
    text-align: center;
    padding: 3px;
    line-height: 1;
    margin-right : 5px;
}

.contact {
    color: var(--white);
    font-size: 1.5rem;
}

.team_project {
    grid-column: 4 / 6;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner_box {
    width: 70%;
    height: 60%;
}

.inner_box_header {
    border: 1px solid var(--white);
    background-color: var(--gray1);
    border-radius: 3px 3px 0 0;
    height: 15%;
    font-size: 1rem;
    color: var(--white);
    line-height: 2;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.inner_box_header .team_icon {
    border: 1px solid var(--orange);
    background-color: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.team_project .plus {
    margin-left: 10px;
    margin-right: 10px;
}

.total_project + img {
    margin-left: 0;
    margin-right: 10px;
}

.inner_box_header .plus:hover {
    cursor: pointer;
}

.inner_box_header .total_project {
    color: var(--gray6);
    border-bottom: 1px solid var(--gray6);
    justify-items: flex-end;
    margin-left: auto;
    font-size: 1rem;
    line-height: 1;
}

.inner_box_header .total_project:hover {
    cursor: pointer;
}

.inner_box_content {
    border: 1px solid var(--white);
    background-color: var(--gray11);
    border-radius: 0 0 3px 3px;
    height: 80%;
}
.inner_box_content {
    display: flex;
    color: var(--white);
    align-self: center;
}

.inner_box_content .user_icon,
.inner_box_content .team_icon {
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 2px;
}

/*content_join*/
.content_join {
    width: 100%;
    height: calc(100vh - 30px);
    display : felx;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    color : var(--white);
    margin-bottom : 80px;
}

.join_text{
	font-size : 5.5rem;
	margin-bottom : 40px;
}

.join_box{
	outline : 1px solid var(--white);
	background-color : var(--gray1);
	width : 340px;
	height : 55px;
	display : flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	color : var(--white);
	border-radius: 5px;
	margin-bottom : 28px;
	font-size: 1.5rem;
	box-sizing: border-box;
}


.join_box:hover{
	cursor : pointer;
	outline : 2.5px solid var(--white);
	background-color : var(--black);
}


.email_img{
	width : 35px;
	height : 35px;
	margin-right : 15px;
}

.kakao_img{
	width : 35px;
	height : 35px;
	margin-right : 15px;
}

.google_img{
	width : 35px;
	height : 35px;
	margin-right : 26px;
}

#google{
	padding-right : 16px;
}


/*join 창*/
.email_join{
	border : 1px solid var(--white);
	border-radius : 10px;
	width : 550px;
	height : 600px;
	position: absolute;
	top : 15%;
	left : 35%;
	z-index : 1;
	background-color: var(--white);
	display : none; 
	color : var(--black);
	flex-direction: column;
}

.email_join.active {
	display: flex; 
}



.join_inner_box{
	margin : 0 auto;
	display : flex;
	flex-direction : column;
	justify-content : space-evenly;
	width : 406px;
	height : 350px; 
	
}

.join_inner_box .join_id,
.join_inner_box .join_nick,
.join_inner_box .join_password,
.join_inner_box .join_password_check
{
	display : flex;
	flex-direction : column;	
}

.join_inner_box_text{
	font-size: 3rem;
	margin-top : 35px;
	margin-bottom : 25px;
	text-align: center;
}

.join_button{
	margin : 0 auto;
	width : 406px;
	display : flex;
	justify-content: space-between;
	margin-top : 10px;
	padding-right : 0;
}

.join_button button{
	background-color : var(--white);
	border : 0;
	outline : 0.5px solid var(--orange);
	border-radius : 5px;
	width : 160px;
	height : 40px; 
	border-radius: 5px;
	margin-top : 8px;
}


.join_button button:hover{
	cursor : pointer;
	color : var(--white);
	outline : 0.5px solid var(--orange);
	background-color : var(--orange);
}

.duplicate_check input{
	background-color : var(--gray9);
	border : 1px solid var(--gray2);
	width : 295px;
	height: 40px;
	box-sizing: border-box;
	margin: 0;
	border-radius: 5px;
}
.duplicate_check{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.duplicate_check button{
	outline : 1px solid var(--orange);
	background-color : var(--orange);
	color : var(--white);
	width : 90px;
	height: 40px;
	border : 0;
	border-radius: 5px;
	margin-top : 8px;
}

.duplicate_check button:hover{
	cursor : pointer;
	outline : 2px solid var(--gray2);
}

.join_password input{
	background-color : var(--gray9);
	border : 1px solid var(--gray2);
	width : 400px;
	height: 40px;
	border-radius: 5px;
	margin-top : 8px;
}

.join_password_check input{
	background-color : var(--gray9);
	border : 1px solid var(--gray2);
	width : 400px;
	height: 40px;
	border-radius: 5px;
	margin-top : 8px;
}




/*loin 창*/
.content_login {
    width: 100%;
    height: calc(100vh - 30px);
	display : felx;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    color : var(--white);
    margin-bottom : 80px;
}

.login{
	border : 1px solid var(--white);
	border-radius : 10px;
	width : 550px;
	height : 600px;
	position: absolute;
	top : 15%;
	left : 35%;
	background-color: var(--white);
	color : var(--black);
	flex-direction: column;
	display: flex;
}

.setting_close{
	margin-left: auto;
}

.login .setting_close{
	width : 20px;
	height : 20px;
	margin-left : auto;
	margin-top : 13px;
	margin-right : 13px;
	filter: grayscale(1) brightness(0.15) sepia(1) hue-rotate(180deg) saturate(4);
}

.login .setting_close:hover{
	cursor : pointer;
	filter: grayscale(1) brightness(0) sepia(1) hue-rotate(180deg) saturate(4);
}





